<h3>Your Janrain Widget Style</h3>
<p>The sign-in widget on the main page can be displayed as a modal overlay (which is open after clicking on the sign-in link) or be embedded below the standard Mahara login interface.</p>