<h3>Update User Information on Login</h3>
<p>If this is set, then the user profile data will be updated from the Identity Provider values passed through each time user logs in. Affected user profile fields will be locked.</p>
