<h3>The API Key for this site</h3>
<p>The API Key provided for this site by <a href="https://rpxnow.com/account" target="_BLANK">Janrain Engage</a> service. You have to register on Janrain website first and then copy this value from your Dashboard.</p>
<p>Please ensure that your domain is added to Token URL Domains list in your Dashboard.</p>