/**
 * CSS rules for the forum interaction plugin
 *
 * Copyright (C) 2006-2009 Catalyst IT
 * This file is distributed under the same terms as Mahara itself
 */
 
/* top buttons */
#forumbtns {
    right: 10px;
    top: 10px;
	* top: -30px;
    * right: 0;
}
* html #forumbtns {
	right: 30px;
}
#forumbtns a.btn {
	* padding: 3px 5px 4px 5px;
	* display: block;
	* float: left;
}
#forumbtns .editforum {
	font-weight: bold;
}

/* forum description */
#forumdescription {
	margin: 5px 0;
	clear: both;
}

/* Edit and Delete in list */
.btn-spacer a {
	margin-left: 10px;
}
.btn-spacer a.btn-big-del {
	margin-left: 3px;
}
/* Forum list */
#forumslist{
	border-bottom: 1px solid #ccc;
}
#forumslist th{
	border-bottom: 1px solid #ccc;
}
#forumslist table th,
#forumslist table td {
	background: none;
	padding-top: 0;
	border: 0;
}
#forumslist td .inlinelist {
	font-size: .9167em;
	line-height: 1.8em;
}
#forumslist td .inlinelist span {
	font-weight: bold;
}

/* Topic list */
#viewforum {
	padding: 10px;
	margin: 0;
	border: 1px solid #eee;
}
#viewforum h3 {
	font-size: 1.3333em;
}
#viewforum .rbuttons {
	right: 10px;
	top: 10px;
	* top: -30px;
	* right: 0;
}
* html #viewforum .rbuttons {
	right: 35px;
}
/* to get user picts to align with text */
.forumuser,
.inlinelist a img {
    vertical-align: top;
}
/* topic types */
.stickytopic td {
	background-color: #fffcd8;
	border-bottom: 2px solid #fff;
}
#forumtopicstable h4 {
	margin: 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
#forumtopicstable td div.btn-spacer {
	width: 50px;
	text-align: right;
}
}

/* Forum Pagination */
#viewforum div.pagination {
	background: #eee;
	margin: 0;
	padding: 5px 3px;
}
#viewforum div.pagination .results {
	display: inline;
	padding: 3px 5px;
}
/* Forum Action Selector */
.forumselectwrap {
	padding: 10px 0 0 0;
}
/* Forum footer */
.forumfooter {
	margin: 5px;
}
/* admin & moderator */
.forummods {
	font-size: .9167em;
	padding: 5px;
	margin: 5px 0;
}
.forummods .inlinelist {
	vertical-align: middle;
}
.forummods a {
	margin-right: 5px;
}
.groupadmin {
}
.moderator {
}


/* Posts */
.closed {
	margin: 0 0 10px 0;
}
.forumpost {
	border: 2px solid #eee;
	clear: both;
}
.forumsubject {
	border-bottom: 2px solid #eee;
	background: #eee;
}
.forumsubject h6 {
	margin: 0 !important;
}
.forumpostleft {
	width: 160px;
	border-right: 2px solid #eee;
	text-align: center;
    font-size: .9167em;
	background: #eaeeed;
}
.postedits .posttime {
	color: #888;
    font-size: .9167em;
}
.forumpostleft .author img {
    margin: 3px 5px 3px 3px;
}
.forumpostleft .author .poster {
	color: #888;
    margin: 0;
}
.forumpostleft .author .postcount {
	font-weight: normal;
    margin: 0;
	color: #888;
}
.postedits {
	padding: 10px;
	background: #FFF;
}
.postbtns {
	font-size: .9167em;
	text-align: right;
	color: #d1d1d1;
	margin: 5px 0 10px 0;
}
.postbtns a {
	text-decoration: none;
	cursor: default;
}
.postbtns span.btn a.icon {
	margin-left: 0;
}
.deletedpost {
    color: #666666;
    margin-top: 0;
}
.postreply {
	padding: 0 0 0 10px;
}

