/**
 * Views stylesheet - common between all themes
 *
 * Copyright (C) 2006-2009 Catalyst IT Ltd
 * This file is licensed under the same terms as Mahara itself
 */ 

.viewtitledesc h1 {
    display: inline;
}
.viewtitledesc .editviewtitle a img,
.viewtitledesc .editviewtitle a span {
    padding: 5px 0 0 1px;
}
.editviewtitle a img {
    vertical-align: top;
    padding: 4px 0 0 1px;
}

/* The loading spinner/message that pops up before the view is loaded */
#views-loading {
    text-align: center;
    margin: 10px;
    font-size: 100%;
}
/* just the bottom pane when not editing */
#bottom-pane {
    margin: 0 0 5px 0;
}
/********************** Top pane of Edit View *************************/
#page {
	margin: 20px 0 10px 0;
	clear: both;
}
#page #top-pane {
}
/* The tabs that allow you to select a blocktype category */
#category-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
	font-size: 1em;
  	font-weight: bold;
  	position: relative;
  	z-index: 0;
	height: 1%;
}
#category-list li {
    display: inline;
    line-height: 1.8em;
    padding: 0;
	position: static;
	z-index:5;
    margin: 0 2px 0 0;
    float: left;
}
#category-list li a,
#category-list li a:link,
#category-list li a:visited,
#category-list li a:active {
  padding: 3px 10px;
  background: #EEEEEE;
  text-decoration: none;
}
#category-list li.current a,
#category-list li.current a:link,
#category-list li.current a:visited,
#category-list li.current a:active {
    cursor: default;
  color: #333;
  text-decoration: none;
  background: #D1D1D1;
  padding: 4px 10px 3px 10px;
}
/* The panel that contains the blocktype icons */
#blocktype-list {
	clear: left;
    min-height: 95px;
    padding: 5px 5px 10px 5px;
    font-size: .9167em;
}
#blocktype-list ul {
    list-style-type: none;
}
#blocktype-list li {
    float: left;
    text-align: center;
    margin: 10px 10px 0;
    width: 200px;
	* z-index: 100;
	line-height: 1.4em;
	white-space: normal;
	min-height: 110px;
}
* html #blocktype-list li {
	position: relative;
}
#blocktype-list li div.blocktype div {
	white-space: normal;
    width: 200px;
}
#blocktype-list .blocktype-radio {
    border: none;
    cursor: default; /* ie fix */
}
#blocktype-list .blocktype h4 {
    margin: 0;
}
#noblocks {
    font-size: larger;
    margin-top: 40px;
    text-align: center;
}

/* Between top and bottom pane */
#middle-pane {
    width: 100%;
}
#middle-pane td {
    width: 33%;
}

/********************** Bottom pane of Edit View *************************/
html>body #column-container {
	* width: 98%;
}
#blocksinstruction {
    padding: 3px 10px;
	font-style: italic;
	margin-bottom: 10px;
}

/* columns 
#column-container input.submit {
    cursor: pointer;
	padding: 0;
	margin: 0;
}
#column-container input.submit:hover {
	background: none;
}
#column-container .column-header input[disabled="disabled"] {
    cursor: default;
}*/

/* These column width rules are required only for when a column is
   added/removed dynamically (users have to turn this on in their
   preferences) */
.columns1 {
    width: 99%;
}
.columns2 {
    width: 48%;
}
.columns3 {
    width: 31%;
}
.columns4 {
    width: 23%;
}
.columns5 {
    width: 18%;
}

.column {
    vertical-align: top;
    float: left;
    margin: 0;
    padding: 0 0.9% 10px 0.9%;
	position: relative;
}
* html .column {
	overflow: hidden;
}

/* An explicit height for when there is one column and no remove button */
.column-header {
    padding-top: 5px;
    width: 100%;
    position: relative;
    height: 25px;
}
.add-button {
    text-align: center;
}
/* contains the left-most 'add column' button */
.add-column-left {
    position: absolute;
    top: 5px;
    left: 0;
}
/* contains all add column buttons in the middle of two columns */
.add-column-center {
    position: absolute;
    top: 5px;
    right: 0;
}
/* contains the right most 'add column' button */
.add-column-right {
    position: absolute;
    top: 5px;
    right: 0;
}
/* contains the 'remove column' buttons */
.remove-column {
    text-align: center;
}
/* needed for when there are no add/remove buttons so the column doesn't disappear */
.column-header-empty {
    height: 1px;
	line-height: 1px;
}
.column-content {
    min-height: 20px;
}
.column-content .add-button input {
	border: none;
	font-size: .9167em;
}

#block-placeholder {
    margin-top: 10px;
}

/**************** Blockinstance **********************/
.blockinstance {
    margin: 0 0 20px 0;
    padding: 0;
    position: relative;
}
/* Configure blockinstance */
.blockinstance.configure {
  width: 700px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: .75em;
}

.blockinstance.configure .mceEditor {
  width: 100%;
}

/* header */
.blockinstance-header {
    width: 100%;
	margin-bottom: 3px;
}
.blockinstance-header h4 {
    margin: 0 !important;
	font-size: 1.4em !important;
	border-bottom: 2px solid #d1d1d1;
	padding-bottom: 3px;
}
.blockinstance-header h4 a {
	text-decoration: none;
}

/* control */
.blockinstance-controls {
    position: absolute;
	right: 0;
	top: 0;
}
.blockinstance-controls input,
.blockinstance-controls input.submit,
.blockinstance-controls input.cancel {
    height: 16px;
    width: 16px;
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
	margin: 0 0 0 1px;
}

/* content */
.blockinstance-content {
}

.blockinstance-content h2 {
	font-size: 1.3333em !important;
	border-bottom: 1px dotted #d1d1d1;
	padding: 3px 0;
	margin-bottom: 0 !important;
}
.blockinstance-content h3 {
	font-size: 1.1667em !important;
	margin-bottom: 0 !important;
}
.blockinstance-content h4 {
	font-size: 1em !important;
}
.blockinstance-content #userviewstable h4 {
	margin-bottom: 0 !important;
}
.blockinstance-content p {
	margin: 10px 0;
}
.blockinstance-content p:first-child {
	margin-top: 5px;
}
.blockinstance-content p:last-child {
	margin-bottom: 0;
}
.blockinstance-content p.noartefacts {
    text-align: center;
    padding: 5px;
}
.blockinstance-content .description {
	font-size: .9167em;
}
.blockinstance-content fieldset {
	padding: 5px;
}
.blockinstance-content fieldset table th {
	padding: 0 5px;
}
.blockinstance-content fieldset table {
	* width: 98%;
	width: 100%;
}
.blockinstance-content table.resumepersonalinfo th,
.blockinstance-content table.resumepersonalinfo td {
	padding: 0 0 0 3px;
}


/* Wall */
.blockinstance-content #wall {
	margin: 10px 0 0 0;
}

/* Image Blockinstance */
.blockinstance-content div a img {
	max-width: 98%;
}
.bt-image .blockinstance-content div a img {
	max-width: 100%;
}
* html .bt-image .blockinstance-content div a img {
	width: 100%;
}

/* External Feed */
#blocktype_externalfeed_title {
	font-weight: bold;
	font-size: 1.1667em;
}
#blocktype_externalfeed_entries ol,
#blocktype_externalfeed_entries ul {
	margin: 0;
}

/* Inbox */
.bt-inbox td.icon-container {
  vertical-align: top;
  width: 16px;
  * width: 25px;
}
.bt-inbox td.icon-container .icon {
  vertical-align: bottom;
  display: table-cell;
  * margin-left: 0;
  * zoom: 1;
}
.inbox-showmessage.unread {
  font-weight: bold;
}

.blockinstance-content table.postlist td {
  padding: 0;
}
.postlist td h3 {
	border-bottom: 1px dotted #d1d1d1;
	font-size: 1.3333em !important;
	padding-bottom: 3px;
}
.blockinstance-content .postlist td h3 {
	margin-top: 15px;
}
.postlist td h3 a {
	text-decoration: none;
}
.blockinstance-content .tags {
	font-size: .9167em;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 0 !important;
}
.blockinstance-content div.artefacts {
	font-size: .9167em;
	margin-top: 5px;
	line-height: 1.5em;
}
.blockinstance-content .postlist .postdetails {
	padding: 3px 3px 10px 3px !important;
	font-size: .9167em;
	line-height: 1.1667em;
}
.postlist td div h1,
.postlist td div h2 {
	font-size: 1.1667em !important;
	margin: 5px 0 0 0 !important;
}
.postlist td div h3,
.postlist td div h4 {
	font-size: 1em !important;
	margin: 5px 0 0 0 !important;
	border: 0 !important;
}
#blogpost .tags {
	font-size: .9167em;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 0 !important;
}
#blogpost .postdetails {
	padding: 3px 3px 10px 3px !important;
	font-size: .9167em;
	line-height: 1.1667em;
}

/* group homepage */
.grouphomepage {
  width: 100%;
}
.grouphomepage .bt-groupviews h5 {
  margin: 0;
}
.grouphomepage .bt-groupviews .groupviewsection {
  margin: 5px 0 10px 0;
}

/* Slideshow */
.slideshow {
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
.slideshow table.images {
    margin: 0 auto;
    vertical-align: middle;
}
.slideshow .control {
  vertical-align: middle;
  font-size: 2em;
  padding: 0;
}
.slideshow .control .disabled:hover,
.slideshow .control .disabled {
  color: #ddd;
  cursor: default;
}
.slideshow .control span:hover {
  color: #888;
  cursor: pointer;
}
.thumbnails {
  padding: 5px;
  text-align: center;
}
.thumbnails img {
  padding: 5px;
  vertical-align: middle;
}

/* tabs for the artefact chooser */
ul.artefactchooser-tabs {
  padding: 0 !important;
  margin: 0;
  font-weight: bold;
  list-style: none;
  font-size: 1em;
  height: 1%;
}
ul.artefactchooser-tabs li {
  display: inline;
  padding: 0;
  line-height: 1.9em;
  margin: 0 2px 0 0 !important;
  float: left;
}
ul.artefactchooser-tabs li a,
ul.artefactchooser-tabs li a:link,
ul.artefactchooser-tabs li a:visited,
ul.artefactchooser-tabs li a:active {
  padding: 3px 10px;
  text-decoration: none;
  background: #EEEEEE;
}
ul.artefactchooser-tabs li.current a,
ul.artefactchooser-tabs li.current a:link,
ul.artefactchooser-tabs li.current a:visited
ul.artefactchooser-tabs li.current a:active {
  color: #333;
  text-decoration: none;
  background: #D1D1D1;
  padding: 4px 10px 3px 10px;
  cursor: default;
}
ul.artefactchooser-subtabs {
  margin: 0 0 15px 0 !important;
  padding: 0 !important;
  font-size: .9167em;
  list-style: none;
}
ul.artefactchooser-subtabs li {
  display: inline;
  padding: 0 10px;
  margin: 0 !important;
}
ul.artefactchooser-subtabs li.current a,
ul.artefactchooser-subtabs li.current a:link,
ul.artefactchooser-subtabs li.current a:visited,
ul.artefactchooser-subtabs li.current a:active {
  font-weight: bold;
}

#artefactchooser-body {
	clear: left;
	margin-bottom: 5px;
	padding: 5px;
}

/* table */
.maharatable {
    margin: 0;
    width: 100%;
}
.maharatable thead th {
	font-size: 1em !important;
	text-align: left !important;
}
.maharatable tbody th {
	font-size: 1.1667em;
	text-align: left !important;
	padding: 3px 0 0 0;
}
.maharatable tbody td {
	padding: 0 0 5px 0;
}
.maharatable .filebrowser tbody td {
	padding: 3px 5px;
}
.maharatable tbody td.errmsg {
	padding: 3px 5px 3px 24px;
}
.maharatable #artefactchooser-body table,
.maharatable #artefactchooser-body table th,
.maharatable #artefactchooser-body table td {
	padding: 3px 5px;
}
.maharatable #artefactchooser-body .artefactchooser-data,
.maharatable #artefactchooser-body .artefactchooser-data th,
.maharatable #artefactchooser-body .artefactchooser-data td {
	padding: 3px 5px;
}
#artefactchooser-body th label {
	font-size: .9167em;
}
.maharatable td label {
	font-weight: normal;
}
.blockconfig-background {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.fileedittable th {
	font-size: 1em !important;
}
#instconf_artefactid_selectlist,
#instconf_artefactids_selectlist {
	margin-bottom: 10px;
}
#instconf_artefactid_selectlist td,
#instconf_artefactids_selectlist td {
	padding: 3px;
}
#instconf_artefactid_selectlist td input.button,
#instconf_artefactids_selectlist td input.button {
	font-size: .9167em;
}

/* pagination */
.ac-pagination {
    white-space: nowrap;
	margin: 0 !important;
}
.ac-pagination .results {
	margin: 0;
	display: block !important;
}
.ac-pagination a, 
.ac-pagination .disabled {
    margin: 0 1px;
    padding: 1px 3px;
}
.blockinstance-content div.center .pagination {
	background-color: #EEEEEE;
}

/* attachments */
.attachments {
    border: 0;
	margin: 0;
	font-size: .9167em;
}
.attachments td {
	padding: 3px 5px !important;
}
.attachments td input.small {
    font-size: .9167em;
}

/* upload */
.uploadform td {
	font-size: .9167em;
}
.uploadform th label {
	font-weight: bold !important;
}
.fileupload th {
	padding: 3px 0;
	text-align: left !important;
}
.fileupload td {
	padding: 3px 5px;
}
.fileupload .filelist td {
	padding: 3px 5px;
}
.fileupload .filelist td input.small {
	font-size: .9167em;
}
.upload_browse #artefactchooser-body {
	padding: 10px;
	margin-bottom: 5px;
}
.upload_browse .uploadform td {
	line-height: 1.1667em;
}

#view-wizard-controls form {
    display: inline;
}
#view-wizard-controls {
    padding-bottom: 5px;
}

#view-description {
    margin: 0;
	padding: 0;
}

.defaultSkin table.mceToolbar, .defaultSkin tr.mceFirst .mceToolbar tr td, .defaultSkin tr.mceLast .mceToolbar tr td {
	border: 0; 
	margin:0; 
	padding:0; 
	width: auto;
}

/* Collection navigation small header */
#collection {
	margin: 0;
	height: auto;
}
#collection strong {
	font-size: 1.1667em;
	margin: 10px 10px 0 0;
	float: left;
}
#collectionnavwrap {
	background: none;
}
#containerX div.colnav1 {
	margin: 0;
	padding: 0;
	display: block;
	background: none;
	clear: none;
	float: left;
}
#containerX ul.colnav {
    list-style: none;
    padding: 0;
    margin: 0;
	float: left;
}
#containerX ul.colnav li {
    padding: 0;
    margin: 0 !important;
	float: left;
}
#containerX ul.colnav li a,
#containerX ul.colnav li.selected span {
	padding: 5px 7px;
	margin: 0 5px 0 0;
	display: block;
}
#containerX div.colnav-extra {
    margin: 0;
	float: left;
}
/* Collection navigation normal header */
#collectionnavwrap {
	background: #EEE;
	padding: 5px 5px 0 5px;
}
div.colnav1 {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.colnav {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0 !important;
	float: left;
}
ul.colnav li {
    padding: 0 !important;
    margin: 0 !important;
	float: left;
}
ul.colnav li a,
ul.colnav li.selected span {
	padding: 5px 7px !important;
	margin: 0 5px 0 0 !important;
	display: block;
}
div.colnav-extra {
    margin: 0;
	float: left;
}

.submissionform {
	background: #eee;
	padding: 3px 5px;
}
.submissionform select {
	font-size: 1em;
}
.submissionform .submit {
	margin-left: 3px;
}
.submittedform {
	background: #eee;
	padding: 3px 5px;
}

/* VIEWS */
/* views footer */
.viewfooter {
	clear: both;
	padding: 10px;
	margin-bottom: 10px;
}
.viewfooter .tags {
	margin-bottom: 10px;
	font-size: .9167em;
}
.viewfooter .submissionform {
	margin-bottom: 5px;
}
.viewfooter .releaseviewform {
	background: #eee;
	margin-bottom: 5px;
}
.viewfooter .releaseviewform tr#releaseview_submittedview_container th,
.viewfooter .releaseviewform tr#releaseview_submit_container th {
	padding: 0 !important;
}
.viewfooter .releaseviewform tr#releaseview_submittedview_container td {
	padding-top: 6px;
}
.viewfooter .releaseviewform tr {
	display: inline;
	float: left;
}
.viewfooter .releaseviewform tr th {
	padding: 3px !important;
}
#viewmenu {
	font-size: .9167em;
	margin-top: 5px;
}
#viewmenu a {
	margin: 0 5px;
	padding-bottom: 2px;
	line-height: 1.6667em;
}
#viewmenu .help a {
	padding: 0;
}
#feedbacktable th {
	padding: 3px 0 0 0;
	font-size: 1.1667em;
}
#feedbacktable td {
	padding: 3px 5px 0 5px;
}
#feedbacktable .details {
	font-size: .9167em;
	line-height: 2em;
}
#feedbacktable .commentleft {
	float: left;
	width: 100px;
	text-align: center;
}
#feedbacktable .commentright {
	margin-left: 100px;
}
#feedbacktable .makepublicbtn {
	font-size: .9167em;
	margin-top: 0;
	float: right;
}
#feedbacktable .icon {
	margin: 0;
}
#feedbacktable .undercomment {
	font-size: .9167em;
}
#feedbacktable .username {
	line-height: 1.2em;
}
#feedbacktable .details span {
	margin: 0 3px;
}
#feedbacktable .attachmessage {
	font-size: .9167em;
	font-style: italic;
	color: #888;
}
#feedbacktable p {
    margin: 5px 0;
}
#feedback_pagination {
	margin: 0;
}
#feedbacktable form,
#feedbacktable form div {
	display: inline;
}
#add_feedback_form {
	margin-top: 10px;
}

/** viewing artefact */
#view .filedata-icon {
	padding: 5px 10px 10px 10px;
	margin: 0 15px 10px 0;
	text-align: center;
}
#view .filedata-icon h4 {
	font-size: .9167em;
	margin: 0;
}
#view .filedata-thumb {
	margin: 0;
}
#view table.filedata th {
	padding: 3px 5px 3px 0;
	line-height: 1.3333em;
}
#view table.filedata td {
	padding: 3px 5px;
}


#publicfeedback {
	clear: both;
}

/* My Plans incomplete/complete styling */
table tr.plan_incomplete {
    background: #FFD3D9;
    color: #DD0221;
	border-bottom: 2px solid #FFF;
}
table td div.plan_completed {
    margin: 3px;
    text-align:center;
    width: 60px;
}

.blockinstance .blockinstance-content table.postlist {
	width: 100%;
	* width: 98%;
}

.license {
	padding: 5px;
	margin: 0;
}
.license .licenseicon {
	vertical-align: top;
	float: left;
	width: 100px;
	display: inline;
}
.license .licensedesc {
	font-size: .9167em;
	line-height: 1.1667em;
	display: inline;
}

.plansblocktable {
	margin: 5px 0;
}

/*#instconf_count_container td,
#instconf_height_container td,
#instconf_noderivatives_container td,
#instconf_collection_container td,
#instconf_text_container td {
	padding-bottom: 1em;
}*/
#blocktype_externalfeed_title {
	margin-top: 5px;
}
#blocktype_externalfeed_entries {
	margin-top: 5px;
	margin-bottom: 5px;
}
#recentforumpostsblock {
	margin-top: 5px;
	margin-bottom: 5px;
}
#recentforumpostsblock td.s img {
	vertical-align: top;
}
#blocktype_externalfeed_entries h4 {
	margin-top: 5px;
}
#userview {
	border-bottom: 1px dotted #d1d1d1;
}
#latestforumposts td h4 {
	margin-bottom: 0;
}
#latestforumposts td div.s br {
	line-height: .5em;
}

table.resumecomposite {
	width: 100%;
}
* html table.resumecomposite {
	width: 96%;
}

.filedownload-item {
	margin-bottom: 5px;
}
.filedownload-item h4 {
	margin-bottom: 0 !important;
}
.filedownload-item p {
	margin: 0;
	font-size: .9167em;
}


#blogdescription {
	margin: 0 0 10px 0;
}
#blogdescription p {
	margin: 0;
}

td.icon-container {
  vertical-align: top;
  width: 16px;
  * width: 25px;
}