/**
 * CSS rules for the blog artefact plugin
 *
 * Copyright (C) 2006-2009 Catalyst IT
 * This file is distributed under the same terms as Mahara itself
 */
 
 /* Blog list */
/*#bloglist .right a {
	font-size: .9167em;
	margin-left: 1em;
}*/
#bloglist td .addicon {
	margin: 0;
}
#bloglist h4 {
	margin: 0;
}
#bloglist #blogdesc p {
	margin: 0;
	font-size: .9167em;
}
#blogdescription {
	margin: 0 0 10px 0;
}
#blogdescription p {
	margin: 0;
}
td a.btn-add{
	margin-left:10px;
	margin-right:10px;
}
/* Post list */
#postlist th {
	border-bottom: 1px dotted #d1d1d1;
	font-size: 1em;
	padding: 15px 5px 3px 5px;
	vertical-align: bottom;
}
#postlist th.posttitle {
	font-size: 1.8em;
	line-height: 1.1667em;
}
#postlist th.poststatus {
	color: #888;
	white-space: nowrap;
}
#postlist th.poststatus input {
	font-size: .9167em;
}
#postlist th.controls {
	text-align: right;
}
#postlist th.controls .btn-big-del {
	background:url("../images/delete.gif") no-repeat scroll left center transparent;
	border:0 none;
	color:#FFFFFF;
	cursor:pointer;
	font-size:1%;
	height:16px;
	margin-left: 5px;
	padding-left:0;
	width:16px;
}
#postlist th.controls span.btn-big-del {
	padding-bottom: 6px;
}
#postlist th form,
#postlist th form div {
  display: inline;
}
#postlist p {
	margin: 0 0 10px 0;
}
#postlist td.postdetails {
	font-size: .9167em;
	color: #888;
	padding-bottom: 10px;
}

#postlist td h1,
#postlist td h2 {
	font-size: 1.3333em !important;
	margin: 10px 0 0 0;
}
#postlist td h3,
#postlist td h4 {
	font-size: 1.1333em !important;
	margin: 10px 0 0 0;
}

/* attachment files */
#postlist .attachments th {
	padding: 3px 5px;
	font-size: 1em;
	border: 0;
}
.attachments .unselect {
	font-size: .9167em;
}

/* Insert Image Dialog */
#img_src[disabled=""] {
        background-color: #F0F0EE;
}