<h3>My Groups</h3>
<p>This page lists the groups you are related to in some way.</p>
<p>You can see the groups you own or are a member of, as well as groups you have been invited to or have asked to join.</p>
<p>When in a group, you can share own portfolio pages with the other members, and participate in group activities such as discussion forums.</p>
