/**
 * CSS rules for the administration section
 *
 * Copyright (C) 2006-2009 Catalyst IT
 * This file is distributed under the same terms as Mahara itself
 */

/* Installer/upgrader */
#gpl-terms {
    margin: 10px auto;
    width: 350px;
}
#jsrequiredforupgrade {
    color: #f00;
}
#installer {
    margin: 0 auto;
    width: 90%;
}
#installer tr {
    height: 20px;
}
#installer th {
    vertical-align: middle;
    border-bottom: 1px solid #aaa;
}
#installer tr:last-child td {
    border-bottom: 1px solid #aaa;
}
#finished {
    font-size: 1.6667em;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    visibility: hidden;
}
#msgscol {
    width: 50%;
}

/* ADMIN HOME */


/* delete/close buttons */
#close_site_submit,
#suspenddelete #delete #edituser_delete_submit,
#institution_suspend_submit {
	border-color: #f69595 #750000 #750000 #f69595 !important;
	background: #ae0101 url(../images/btn-red-bkgd.gif) repeat-x left top !important;
	color: #FFF;
}
#close_site_submit:hover,
#suspenddelete #delete #edituser_delete_submit:hover,
#institution_suspend_submit:hover {
	border-color: #750000 #f69595 #f69595 #750000 !important;
	background: #f23131 url(../images/btn-red-bkgd-hover.gif) repeat-x left top !important;
	color: #FFF;
}

/* close site box */
#close-site {
	border: 1px solid #e98a88;
	background: #fbeceb;
    text-align: left;
	padding: 10px 15px;
	width: 24%;
	float: left;
	margin: 0 0 0 10px;
	min-height: 160px;
}
#close-site h3 {
	color: #ca0000;
}

#close_site {
	margin-top: 5px;
}


/* register site box */
#register-site {
    text-align: left;
	padding: 10px 15px;
	margin: 0 10px 10px 0;
	float: left;
	width: 35%;
	min-height: 160px;
}
#register-site form fieldset.collapsed {
	border: 0;
	font-size: .9167em;
}
#register-site form fieldset.collapsible {
	border: 0;
	font-size: .9167em;
	margin: 0;
	padding: 0;
}
#register-site table {
	margin-left: 0;
	margin-top: 10px;
	width: 100%;
}
#register-site table th {
	text-align: left;
	padding: 5px;
	width: 140px;
}
#register-site table td {
	padding: 0 10px 0 0;
}
#register-site table table {
	margin-left: 8px;
	margin-top: 0;
	width: 100%;
}
#register-site form table {
	margin: 0;
}
#register-site table fieldset table td {
	padding: 0 0 0 15px;
}
#register-site table fieldset table table th {
    border-bottom: 1px solid #ccc;
	background: none;
}
#register-site table fieldset table table td {
    border-bottom: 1px solid #eee;
	padding: 0 5px;
	background: #fefefe;
}
#register-site fieldset legend a {
	font-size: .9167em;
}
#register_register_container th {
	display: none;
}
#register_register_container td {
	float: left;
	margin-left:5px;
}
input#register_register {
	* margin-bottom: 10px;
}

/* run upgrade box */
#runupgrade {
    padding: 10px 15px;
    background: #f6f6f6;
    border: 1px solid #ddd;
    margin: 0 0 10px 0;
    float: left;
}
#runupgrade h4 {
    margin: 0;
	font-size: 1em;
}
#upgradestable {
    border: none;
	font-size: .9167em;
	width: 100%;
}
#upgradestable th {
    padding: 5px 5px 3px 5px;
	text-align: left;
    border-bottom: 1px solid #ccc;
}
#upgradestable td {
    border-bottom: 1px solid #eee;
	background: #fefefe;
}

#site-stats {
  margin: 0 0 10px 0;
  padding: 10px 15px;
  text-align: left;
  float: left;
  width: 25%;
	min-height: 160px;
}
#site-stats .icon-sitestats {
	background: url(../images/icon-sitestats.png) no-repeat left;
	padding-left: 18px;
}
#site-stats p:first-child,
#site-stats p:last-child,
#site-stats p {
  margin: 1px;
}
#site-stats-graph {
  margin: 0 3px 10px 3px;
}
.site-stats-left {
	width: 300px;
}
.site-stats-right {
	width: 62%;
}
.site-stats-table div {
	padding: 3px 5px;
	border-bottom: 1px solid #FFF;
	background: #F8F8F8;
}
#site-stats .site-stats-table {
	margin-top: 5px;
}
#site-stats .site-stats-table div {
	border-bottom: 0;
	background: none;
	padding: 0;
}
.statistics-subpage-left-column {
  width: 40%;
}
.statistics-subpage-right-column {
  width: 59%;
}

.admin-home-column {
  width: 49%;
  margin: 10px 1px 0 1px;
}
* html .admin-home-column {
	width: 47%;
}

/* CONFIGURE SITE SITE OPTIONS */
#siteoptions th label {
	white-space: nowrap;
}
#siteoptions legend {
	font-size: 1em;
}
#siteoptions th label {
	font-weight: bold;
	font-size: 1em;
}
#siteoptions_submit_container th,
#siteoptions_submit_container td {
	padding-top: 10px;
	float: left;
}

/* CONFIGURE SITE > LINKS AND RESOURCES MENU */
#menuitemlist {
	margin: 10px 0;
}
#menuitemlist table {
	width: 100%;
}
#menuitemlist table th {
    border-bottom: 1px solid #d1d1d1;
}
#menuitemlist table td {
	vertical-align: middle;
    border-bottom: 1px dotted #d1d1d1;
	line-height: 2em;
}
#menuitemlist table td .button {
	font-size: .9167em;
}

/* CONFIGURE SITE > NETWORKING */
#networkingform_pubkey_container td {
	line-height: .9167em;
}
#networkingform fieldset table th label {
	font-weight: bold;
}


/* USERS > USER SEARCH */
#initials {
	font-size: 1.1667em;
	margin: 0 0 5px 0;
	line-height: 2em;
}
#initials span {
	padding: 0 3px;
    font-weight: bold;
}
#initials span.selected a {
    color: #000 !important;
    text-decoration: none;
	cursor: default;
}
.searchform .institutions {
	margin-left: 10px;
}
/* SEARCH RESULTS TABLE */
table.tablerenderer th.asc { 
	background: transparent url(../images/down.gif) no-repeat left;
	padding-left: 15px;
}
table.tablerenderer th.desc { 
    background: transparent url(../images/up.gif) no-repeat left;
	padding-left: 15px;
}
.search-results-sort-column {
	cursor: pointer;
}
#searchresults td {
	vertical-align: middle;
}


/* USERS > EDIT USER */
#edituser_institution td {
	padding: 0;
}
#edituser_institution td h4 {
	font-size: 1.1667em;
}
#edituser_institution th label {
	font-size: 1em;
	font-weight: bold;
}
#edituser .message {
	margin-left: 155px;
}
#profilepict {
	padding: 10px;
	font-size: .9167em;
	margin-right: 10px;
	text-align: center;
	border: 1px solid #ccc;
	background: #f6f6f6;
}
#profilepict a img {
    width: 100px;
    height: 100px;
	padding: 0;
}
#profilename {
	margin: 10px 0 0 0;
}
#loginas {
	margin-right: 10px;
	margin-top: 10px;
}

#useraccountsettingsleft {
	padding-right: 20px;
}
#useraccountsettingsright {
	width: 254px;
}
#useraccountsettingsleft h2 {
	margin-top: 0;
}

#suspenddelete,
#institutions {
	margin-bottom: 20px;
}
#suspenddelete p {
	font-size: .9167em;
	line-height: 1.4em;
}
/* suspend user */
#suspenddelete #suspend {
	border: 1px solid #d1d1d1;
	padding: 10px;
	background: #f6f6f6;
	margin-bottom: 10px;
}
#suspenddelete #suspend table th {
	float: left;
	display: block;
	padding: 3px 0;
}
#suspenddelete #suspend table td {
	display: block;
	clear: left;
	padding: 0;
}
#suspenddelete #suspend .resizable-textarea {
	width: 225px !important;
}

/* delete user */
#suspenddelete #delete {
	border: 1px solid #e98a88;
	background: #fbeceb;
	padding: 10px;
}
#suspenddelete #delete h3 {
	margin-top: 0;
	color: #ca0000;
}
#edituser_institution_addinstitution_container,
#edituser_institution_add_container {
	display: inline;
}
#edituser_site_passwordchange_container th label {
	white-space: nowrap;
}

/* USERS > SUSPENDED USERS */
#suspendedlist {
	margin: 10px 0;
}


/* USERS > SITE ADMINS */
.userlistform table {
    width: 100%;
}
* html .userlistform table,
* html .userlisttable {
	width: 96%;
}
.userlisttable td {
	padding: 3px 0;
}
.userlisttable td label {
	font-size: 1em;
	font-weight: bold;
}


/* USERS > ADMIN NOTIFICATIONS */
#notificationstable td {
	vertical-align: middle;
}


/* USERS > ADD USER */
#adduser-t {
    min-width: 800px;
}
#adduser thead th {
    text-align: left;
    font-size: 1.333em;
    border-bottom: none !important;
}
#adduser td.step1 {
	background: #f6f6f6;
	border: 1px solid #ccc;
    width: 30%;
	padding: 10px 5px;
}
#adduser td.step1 table,
#adduser td.step1 #adduser_leap2afile {
	margin-left: 20px;
}
#adduser div.choice {
    padding-bottom: 5px;
}
#adduser label {
    font-weight: bold;
    font-size: 1em;
}
#adduser #or {
	color: #8D8D8D;
	padding: 8px 3px 10px 3px;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
}
#adduser td.step2 {
	background: #f6f6f6;
	border: 1px solid #ccc;
    width: 36%;
	padding: 10px 5px;
	text-align: center;
}
#adduser td.step2 th {
	white-space: nowrap;
}
#adduser td.step2 td {
	white-space: nowrap;
	text-align: left;
}
#adduser td.step3 {
	background: #efefef;
	border: 1px solid #ccc;
    width: 25%;
    text-align: center;
	padding: 10px 5px;
	vertical-align: middle;
}
#adduser #adduser_submit {
	font-size: 1.6667em;
	font-weight: bold;
}
#adduser #step3info {
	margin-top: 20px;
}
#adduser td.filler {
    padding: 20px 3px 0 3px;
    font-size: 3.8em;
    width: 3%;
	color: #8d8d8d;
}
#adduser table table label {
    font-size: .9167em;
}


/* USERS > ADD USERS BY CSV */
ul.fieldslist li {
	float: left;
	width: 15%;
}
form#uploadcsv {
	clear: both;
}


/* GROUPS */
#editmenus #menuitemlist table {
	width: auto;
}

/* MANAGE GROUPS > GROUP ADMINS */
#groupadminsform {
	border: 1px solid #d1d1d1;
	background: #f6f6f6;
	padding: 10px;
}
#groupadminsform table #groupadminsform_admins_container td th {
	width: auto !important;
	white-space: nowrap;
	font-weight: bold;
}
#groupadminsform table #groupadminsform_admins_container th {
	width: 80px !important;
}

/* MANAGE INSTITUTIONS > INSTITUTIONS */
#adminstitutionslist .controls {
    width: 35px;
}
#adminstitutionslist .controls form {
    display: inline;
}

/* MANAGE INSTITUTIONS > INSTITUTION MEMBERS */
#usertypeselect table td,
#usertypeselect table th,
#institutionselect table td,
#institutionselect table th {
	padding: 0 5px 3px 0;
	text-align: left;
}
.institutionedituserbuttons form {
	display: inline;
}
#institution_maxuseraccounts_container th {
	width: 220px;
}
#instanceList .authIcons a {
	color: #ca0000;
	font-size: .9167em;
}
#institution #lockedfieldshelp {
	float: right;
}
#suspendinstitution {
	margin-top: 20px;
	border: 1px solid #e98a88;
	background: #fbeceb;
	padding: 10px 10px 10px 0;
	position: absolute;
	top: 0;
	right: 0;
	width: 220px;
}
* html #suspendinstitution {
	right: 20px;
}
#suspendinstitution h3#suspend {
	color: #ca0000;
	margin-left: 10px;
}


/* MANAGE INSTITUTIONS > INSTITUTION MEMBERS */
#institutionusers,
#staffusers,
#adminusers {
	border: 1px solid #d1d1d1;
	background: #f6f6f6;
	padding: 10px;
}
#usertypeselect_institution_container th,
#institutionselect_institution_container th,
#institutionselect_institution_container th {
	padding: 0 5px 5px 0 !important;
	font-size: 1.5em;
}
#usertypeselect_institution_container td,
#institutionselect_institution_container td {
	padding: 0 0 5px 0 !important;
	font-size: 1.5em;
}
#institutionusers table #institutionusers_users_container th {
	width: 120px;
	white-space: nowrap;
}
#institutionusers table #institutionusers_users_container td th,
#adminusers table #adminusers_users_container td th,
#staffusers table #staffusers_users_container td th {
	width: auto !important;
	white-space: nowrap;
	font-weight: bold;
}
#staffusers table #staffusers_users_container th {
	width: 80px !important;
}
#adminusers table #adminusers_users_container th {
	width: 90px !important;
}


/* MANAGE INSTITUTIONS > VIEWS */
#editaccess_accesslist_container {
	clear: both;
	margin-top: 20px;
}


/* ADMINISTER EXTENSIONS */
#adminplugin h4 {
	margin-bottom: 3px;
}
#adminplugin ul.adminpluginstypes li {
	float: left;
	list-style: none;
	margin: 10px 20px 10px 0;
	padding: 0;
}
#adminplugin ul.adminpluginstypes,
#adminplugin ul.adminpluginstypes ul,
#adminplugin ul.adminpluginstypes ul li,
#adminplugin ul.adminpluginstypes ul ul,
#adminplugin ul.adminpluginstypes ul ul li,
#adminplugin ul.adminpluginstypes ul ul ul {
	margin: 0;
	padding: 0;
}
#adminplugin ul.adminpluginstypes ul ul li {
	float: none;
	list-style: none;
	font-size: .9167em;
}
#adminplugin ul.adminpluginstypes ul ul ul li {
	list-style: disc;
	margin: 0 0 0 15px;
	font-size: 1em;
}

#edituser_institution tr.submit td {
	padding-top: 5px;
}
