/**
 * Stylesheet for Mahara's Raw theme.
 *
 * Copyright (C) 2006-2009 Catalyst IT Ltd
 * This file is licensed under the same terms as Mahara itself
 */

/* General rules */
html {
	margin: 0;
	padding: 0;
}
body {
	color: #333;
	font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
	font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
	margin: 0;
	padding: 0;
}
#container,
#containerX {  /* Use a 12px base font size with a 16px line height */
	font-size: 0.75em; /* 16px x .75 = 12px */
	line-height: 1.333em; /* 12px x 1.333 = 16px */
}
#micro .configure {  /* the overlay configure */
	font-size: 0.75em;
	line-height: 1.333em;
}
body, caption, th, td, input, textarea, select, option, legend, fieldset, button {
	font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
}
pre, code, tt {
	font-size: 1.1667em; /* Monospace fonts can be hard to read */
	font-family: "Courier New", "DejaVu Sans Mono", monospace;
	white-space: pre-wrap;
}
body#micro {
	background: #eee;
}
img {
	border: 0;
}
.main-column h1, .main-column h2, .main-column h3, .main-column h4, .main-column h5, .main-column h6 {
	margin: 15px 0 10px 0;
}
.main-column h1:first-child, .main-column h2:first-child, .main-column h3:first-child, .main-column h4:first-child, .main-column h5:first-child, .main-column h6:first-child, * html .main-column h1, * html .main-column h2, * html .main-column h3, * html .main-column h4, * html .main-column h5, * html .main-column h6 {
	margin-top: 0;
}
.main-column h1 {
	font-size: 2em; /* 24px */
	line-height: 1.2em;
}
.main-column h2 {
	font-size: 1.5em; /* 18px */
}
.main-column h3 {
	font-size: 1.3333em; /* 16px */
}
.main-column h4 {
	font-size: 1.1667em; /* 14px */
}
.main-column h5 {
	font-size: 1em; /* 12px */
}
.main-column h6 {
	font-size: .9167em; /* 10px */
}
p {
	margin: 10px 0;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
* html .fl, * html .fr {
	z-index: 10;
	position: relative;
}
.cl {
	clear: left;
}
.cr {
	clear: right;
}
.cb {
	clear: both;
}
.s {
	font-size: .9167em;
	font-weight: normal;
}
.description, .unvalidated, .postdetails {
	font-size: .9167em;
	color: #888;
	line-height: 1.3333em;
}
.date {
	color: #888;
	font-style: italic;
}
.nowrap {
	white-space: nowrap;
}
.inline {
	display: inline;
}
.ctime {
	color: #838383;
}
.fullwidth {
	width: 100%;
}
* html .fullwidth {
	width: 96%;
}
.hidden, .dontshow {
	display: none;
}
/* Hides without being "destructive" - element + children still have full
   width/height */
.safe-hidden {
	position: absolute;
	visibility: hidden;
	top: 0;
}
/* IE7 hack to make safe-hidden work */
html>body .safe-hidden {
 *position: relative;
 *height: 0;
 *margin: 0;
 *padding: 0;
}
.nojs-hidden-inline, .nojs-hidden-block, .nojs-hidden-table {
	display: none;
}
.dull {
	color: #888;
}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: #808080;
	filter: alpha(opacity=50);
    z-index: 1;
}
a, a:visited, a:link, a:active, a:hover, a:focus {
	outline: none;
}
/**************************** Tables ****************************/
table {
	border-spacing: 0;
	border-collapse: collapse;
}
th {
	padding: 3px 0;
	text-align: left;
	vertical-align: top;
	line-height: 1.8em;
}
.main-column thead th {
	padding: 3px 5px;
	white-space: nowrap;
	border-bottom: 1px solid #ccc;
}
.nohead tbody th {
	padding: 3px 5px;
}
.main-column .pieform tbody th {
	padding: 3px 5px;
}
td {
	padding: 3px 5px;
	vertical-align: top;
}
.main-column tfoot td {
	padding: 5px 0;
}
td.narrow {
	padding: 3px 0 0 0;
}
/* table with th border-bottom */
#searchresults thead th, .filelist, .tag-results #results {
	border-bottom: 1px solid #ccc;
}
/* table with tfoot border-top */
#searchresults tfoot td, #adminstitutionslist tfoot td, #profileicons tfoot td, #activitylist tfoot td, .tag-results #results {
	border-top: 1px solid #ccc;
}
/* table with gap between rows */
#friendslist td {
	border-bottom: 2px solid #FFF;
}
table.fixwidth {
	table-layout: fixed;
}
/* table with preserved whitespace */
.messagebody {
	white-space: pre-wrap;
	overflow: auto;
}
.messagebody-newpost, .messagebody-feedback {
	white-space: normal;
}
/* table without border */
#bloglist th {
	border: 0;
}
#delete_all_notifications_submit_container td {
	border-top: 0 !important;
	padding: 0;
}
/* Alternative row background colours */
.r0, .r0 td {
	background-color: #f9f9f9;
	border-bottom: 2px solid #FFF;
}
.r1, .r1 td {
	background-color: #f3f3f3;
	border-bottom: 2px solid #FFF;
}
tr.editrow, tr.editrow td {
	background-color: #e7e7e7 !important;
	border-bottom: 2px solid #FFF;
}
tr.editrow table td {
	border: 0;
	background: none;
}
tr.highlight td {
	background-color: #fffcd8 !important;
	border-bottom: 2px solid #FFF;
}
.divrow {
	padding: 3px 5px;
}
.listing {
	margin-bottom: 5px;
}
.listing h3 {
	margin: 0;
	font-size: 1.1667em;
}
.listing h6 {
	margin: 0;
	font-size: .9167em;
	font-style: italic;
	font-weight: normal;
	display: inline;
}
div.listing {
	padding: 5px;
}
/**************************** Pagination ****************************/
div.pagination {
	font-size: .9167em;
	text-align: center;
	margin: 3px 0;
}
div.pagination span {
	margin: 0 3px;
}
div.pagination a {
	text-decoration: none;
	padding: 3px 5px;
	border: 1px solid #d1d1d1;
	background: #fff;
}
div.pagination .disabled {
	background-color: #EBEBEB;
	text-decoration: none;
	color: #c1c1c1;
	padding: 3px 5px;
}
div.pagination .selected {
	font-weight: bold;
	border: none;
	padding: 3px 5px;
	border: 1px solid #d1d1d1;
}
div.pagination .results {
	color: #838383;
	display: inline;
	padding: 3px 5px;
}
div.pagination .results a {
	border: 0;
}
/**************************** Forms ****************************/
form {
	margin: 0;
	padding: 0;
}
/* Label */
label {
	font-weight: bold;
	margin: 0;
}
.pieform tbody tr th label {
	white-space: normal;
	line-height: 1.2em;
}
.pieform td label {
	font-weight: normal;
	line-height: 1.6667em;
}
.pieform th label {
	font-weight: bold;
}
.pieform tr.checkbox label {
	white-space: nowrap;
}
.pieform tr.checkbox td {
	vertical-align: middle;
}
#editpost_allowcomments_container th label {
	white-space: nowrap;
}
/* required */
.required th, .required label, .requiredmarker, #register_tandc_container th {
	color: #c81511;
}
/* override required colour to normal colour */
.required label.plain, .required.radio td label, .required.emaillist td label {
	color: #333;
}
.pieform td.description {
	padding-top: 0 !important;
}
div.grippie {
	border-color: #a5acb2;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	background: #eeeeee url(../images/grippie.png) no-repeat scroll 100% 50%;
	cursor: s-resize;
	height: 14px;
	padding: 3px 0 0 3px;
 * padding: 3px;
}
.memberssearch {
	margin-top: 10px;
	padding: 5px 10px;
	background: #eee;
	border-right: 4px solid #FFF;
}
.memberssearch .membershiptypes {
	margin-right: 20px;
	display: inline;
}
.memberssearch form, .memberssearch form div {
	display: inline;
}
#membersearchresults .membericon {
	width: 50px;
}
/* Legend */
legend {
	font-weight: bold;
	font-size: 1.333em;
}
/* Select */
select {
	margin-right: 3px;
	padding: 2px;
}
/* Fieldset */
fieldset {
	padding: 10px 15px;
	margin: 5px 0;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
* html fieldset {
	width: 90%;
}
* html .subpage fieldset {
	width: 60%;
}
fieldset.collapsible {
	padding: 10px 15px;
}
fieldset.collapsed {
	padding: 0 0 0 15px;
	margin: 0;
	border: 0;
}
fieldset table {
	margin-top: 10px;
}
fieldset.collapsed div, fieldset.collapsed table {
	position: absolute;
	display: none;
	padding: 0;
	border: 0;
	margin: 0;
}
fieldset.collapsible legend {
	font-size: 1.1333em;
}
fieldset.collapsible legend a {
	padding-left: 15px;
	background: url(../images/icon_fieldset_down.gif) 2px center no-repeat;
}
fieldset legend a:hover {
	text-decoration: none;
}
fieldset.collapsed legend a {
	background: url(../images/icon_fieldset_left.gif) 2px center no-repeat;
}
/* Text fields and such */
input.text, input.password, input.file, textarea, input[type=text], input[type=password], input[type=file] {
	border: 1px solid #a5acb2;
	padding: 3px;
}
input.text.required {
	border: 1px solid #e98a88;
}
textarea {
	resize: none;
}
.mceEditor {
	display: inline-block;
}
.radio, .checkbox {
	vertical-align: top;
}
hr {
	border-bottom: 1px dotted #d1d1d1;
	border-top: 0;
	border-right: 0;
	border-left: 0;
}
/* error */
input.error, select.error {
	border-color: #dd0221;
}
.errmsg {
	color: #dd0221;
	font-size: .9167em;
	background: #ffd3d9 url(../images/failure.gif) no-repeat 4px 3px;
	padding: 3px 3px 3px 24px !important;
}
.postedon {
	color: #888;
	font-style: italic;
	font-size: .9167em;
	line-height: 1.1667em;
}
/* Calendar text style for required */
input.calendar.required {
	border: 1px solid #e98a88;
}
/****************************** Buttons ****************************/
/** input buttons **/
input.submit, input.cancel, button, .buttondk, input.button, input.select, input#files_filebrowser_edit_artefact {
	font-size: 1em;
	line-height: 1.3333em;
	border-width: 1px;
	border-style: solid;
	border-color: #7d99ae #003c74 #003c74 #7d99ae;
	margin: 0 3px 0 0;
	padding: 2px 3px;
	background: #c6c5d7 url(../images/btn-bkgd.gif) repeat-x left top;
	text-decoration: none;
	cursor: default;
	color: #333;
  * overflow: visible;
  * width: 1;
}
/** links that need to look like buttons **/
.btn {
	font-size: 1em;
	line-height: 1.3333em;
	border-width: 1px;
	border-style: solid;
	border-color: #7d99ae #003c74 #003c74 #7d99ae;
	margin: 0 3px 0 0;
	padding: 3px 5px;
	background: #c6c5d7 url(../images/btn-bkgd.gif) repeat-x left top;
	text-decoration: none;
	cursor: default;
	color: #333;
  * overflow: visible;
  * width: 1;
}
/** hover for buttons **/
.btn:hover, input.submit:hover, input.cancel:hover, button:hover, .buttondk:hover, input.button:hover, input.select:hover, input#files_filebrowser_edit_artefact:hover {
	background: #FFF url(../images/btn-bkgd-hover.gif) repeat-x left top;
	text-decoration: none;
	cursor: default;
}
/** Depress for buttons **/
.btn:active, input.submit:active, input.cancel:active, button:active, .buttondk:active, input.button:active, input.select:active, input#files_filebrowser_edit_artefact:active {
	border-color: #003c74 #7d99ae #7d99ae #003c74;
	background: #FFF url(../images/btn-bkgd-hover.gif) repeat-x left top;
}
/* buttons that look like links with icons */
.icon {
	margin-left: 5px;
	border: 0;
	cursor: pointer;
	background: none;
	padding: 0;
	color: #0000ee;
}
/* except the buttons that shouldn't */
span.btn a.icon, a span.icon {
	color: #333;
	cursor: default;
}
.fl .icon {
	margin-left: 0;
	margin-right: 0;
}
/* buttons that look like links */
.linkbtn {
	border: 0;
	cursor: pointer;
	color: #0000ee;
}
/* bolding some buttons */
#editgroup #editgroup_submit,
#editblog #editblog_submit,
#editpost #editpost_submitpost,
.fileedittable #files_filebrowser_edit_artefact,
#profileform #profileform_submit,
#view-wizard-controls input.submit,
#editview #editview_submit,
#viewlayout input.submit,
#add_feedback_form #add_feedback_form_submit,
#objection_form #objection_form_submit,
.submitcancel .submit,
#export #export_submit,
#forumbtns a.editforumtitle,
#viewforum a.newforumtopic,
#forumbtns a.newforum {
	font-weight: bold;
}

div.btn-del input.submit, input.submit.btn-del, div.btn-add input.submit, input.submit.btn-add, button.btn-add, div.btn-msg input.submit, div.btn-edit input.submit, .btn-reply, .btn-subscribe input.submit {
 * width: 1;
 * overflow: visible;
}
.rbuttons {
	position: absolute;
	right: 0;
	top: 0;
	line-height: 2.1em;
 * width: 1;
 * float: right;
 * overflow: visible;
 * display: block;
 * height: 30px;
}
.rel .rbuttons {
 * position: relative;
 * top: -30px;
}
.rbuttons a {
 * width: 1;
 * overflow: visible;
 * display: block;
	* float: left;
}
.viewheader .rbuttons {
	line-height: 1.8em;
}
* html .rbuttons {
	right: 20px;
}
.listing .rbuttons {
	top: 5px;
}
* html .listing .rbuttons {
	right: 5px;
}
.listing .rel .rbuttons {
	top: 0;
}
.listing .rbuttons a {
	font-size: 1em;
	font-weight: normal;
}
.listing .rbuttons a.btn-del {
	background: url(../images/remove-block.png) no-repeat left;
	font-size: 1%;
	width: 16px;
	height: 16px;
	display: block;
	padding: 0;
	text-indent: -9999px;
}
.listing .rbuttons a.btn-del:hover {
	text-decoration: none;
}
.lbuttons {
	position: absolute;
	left: 0;
	top: 0;
}
* html .lbuttons {
	position: relative;
	float: left;
}
/* Search buttons */
#usf_submit {
	border-color: #a3a3a3 #a3a3a3 #a3a3a3 #e3e3e3;
	margin: 0;
	background: #c6c5d7 url(../images/btn-bkgd.gif) repeat-x left top;
	border-width: 1px 1px 1px 0;
	padding: 2px 3px;
 *  padding: 1px 3px 1px 3px;
	color: #333;
	cursor: pointer;
	font-size: 1em;
}
#usf_submit:hover {
	background: #FFF url(../images/btn-bkgd-hover.gif) repeat-x left top;
}
#selfsearch button, .query-button, #moderator_search_btn, #search_search, #selfsearch button, #search_submit, .btn-search {
	border-color: #7d99ae #003c74 #003c74 #7d99ae;
	margin: 0;
	padding: 3px;
 * padding: 1px 3px 1px 3px;
	background: #c6c5d7 url(../images/btn-bkgd.gif) repeat-x left top;
	border-width: 1px 1px 1px 1px;
	color: #333;
	cursor: pointer;
	font-size: 1em;
}
#selfsearch button:hover, .query-button:hover, #moderator_search_btn:hover, #search_search:hover, #selfsearch button:hover, #search_submit:hover, .btn-search:hover {
	border-color: #003c74 #7d99ae #7d99ae #003c74;
	background: #FFF url(../images/btn-bkgd-hover.gif) repeat-x left top;
}
/** Buttons with icons **/
.btn-edit {
	background: transparent url(../images/icon-edit.gif) no-repeat left;
	padding-left: 13px;
}
.btn-del {
	background: transparent url(../images/icon-delete.gif) no-repeat left;
	padding-left: 13px;
}
.btn-big-edit {
	background: transparent url(../images/edit.gif) no-repeat left;
	width: 0px;
	height: 0px;
	padding: 8px;
	font-size: 1% !important;
}
.btn-big-del {
	background: transparent url(../images/remove-block.gif) no-repeat left;
	width: 0px;
	height: 0px;
	padding: 8px;
	font-size: 1% !important;
}
a.btn-big-del {
	margin-left: 3px;
}
.btn-manage {
	background: transparent url(../images/icon-manage.gif) no-repeat left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
}
.btn-message {
	background: transparent url(../images/icon-mail.gif) no-repeat left;
	padding-left: 13px;
}
.btn-friend {
	background: transparent url(../images/icon-friend.gif) no-repeat left;
	padding-left: 13px;
}
.btn-reply {
	background: transparent url(../images/icon-reply.gif) no-repeat left;
	padding-left: 13px;
}
.btn-back {
	background: transparent url(../images/icon-back.gif) no-repeat left;
	padding-left: 13px;
}
.btn-download {
	background: transparent url(../images/icon-download.gif) no-repeat right;
	padding-right: 13px;
}
.btn-add {
	background: transparent url(../images/icon-add.gif) no-repeat left;
	padding-left: 13px;
}
.btn-group {
	background: transparent url(../images/icon-group.gif) no-repeat left 4px;
	padding-left: 13px;
}
.btn-request {
	background: transparent url(../images/icon-request.gif) no-repeat left center;
	padding-left: 13px;
}
.btn-leavegroup {
	background: transparent url(../images/icon-leave.gif) no-repeat left center;
	padding-left: 13px;
}
.btn-pending {
	background: transparent url(../images/icon-pending.gif) no-repeat 3px center;
	padding-left: 17px !important;
}
.btn-login {
	background: transparent url(../images/icon-login.gif) no-repeat left center;
	padding-left: 13px;
}
.btn-access {
	background: transparent url(../images/icon-access.gif) no-repeat left center;
	padding-left: 13px;
}
.btn-deny {
	background: transparent url(../images/icon-deny.gif) no-repeat left center;
	padding-left: 13px;
}
.btn-approve {
	background: transparent url(../images/icon-approve.gif) no-repeat left center;
	padding-left: 13px;
}
.btn-view {
	background: url(../images/icon-view.gif) no-repeat left top;
	padding-left: 15px;
}
.artefacts {
	background: url(../images/icon-artefact.gif) no-repeat left 1px;
	padding-left: 15px;
	line-height: 1.4em;
}
.viewaccess {
	background: url(../images/icon-access.gif) no-repeat left 3px;
	padding-left: 15px;
}
.collection {
	background: url(../images/icon-collection.gif) no-repeat left 1px;
	padding-left: 15px;
}
#sb-profile ul li#unreadmessages a,
#sb-profile ul li#invitedgroups a,
#sb-profile ul li#pendingfriends a {
	padding-left: 15px;
	background: url(../images/icon-mail.gif) no-repeat left 4px;
}
tr.expandable-head,
tr.expandable-head td {
	border-bottom: 0;
}
tr.expandable-body td {
	font-size: .9167em;
	padding-top: 0;
	padding-left: 17px;
}
td.expandable {
	width: 10px;
	height: 10px;
	padding-left: 16px;
	cursor: pointer;
	background-image: url(../images/icon_fieldset_left.gif);
	background-repeat: no-repeat;
	background-position: 3px 6px;
}
td.expanded {
	width: 10px;
	height: 10px;
	padding-left: 16px;
	cursor: pointer;
	background-image: url(../images/icon_fieldset_down.gif);
	background-repeat: no-repeat;
	background-position: 3px 6px;
}
div.pagetabs {
	top: 10px !important;
	right: 10px;
	* top: -30px !important;
	* right: 0;
}
* html div.pagetabs {
	right: 35px;
}
div.pagetabs a {
	font-weight: bold !important;
	border: none;
	margin: 0 10px;
	padding: 0;
	background: none;
}
div.pagetabs .help a {
	margin: 0;
}
div.rbuttons form {
	display: inline;
}
div.rbuttons form div {
	display: inline;
}
.controls a {
	margin: 0 5px;
}
#buttons input {
	margin: 0 3px 0 0;
}
div.rbuttons .small-logo {
	border: 0;
	background: none;
}
/**************************** Top of page elements ****************************/
.viewheadertop {
	height: 30px;
	margin: 0;
}
.viewheadertop .small-logo img {
	padding: 0;
}
.viewheadertop .links {
	padding: 3px 0 3px 5px;
	font-size: .9167em;
}
.viewheadertop .links a {
}
.viewheadertop #mainnav-container {
	width: 60%;
	height: 16px;
	padding: 3px 5px 5px 115px;
 * padding: 3px 5px 5px 25px;
	background: url(../images/icon_fieldset_left.gif) no-repeat 93px center;
 * background: url(../images/icon_fieldset_left.gif) no-repeat 5px center;
	font-size: .9167em;
	color: #d1d1d1;
}
.viewheadertop #mainnav-container #mainnav {
	margin-left: -10px;
}
.viewheadertop #mainnav-container #mainnav a {
	padding: 0 3px;
}
.viewheader {
	padding: 0;
	margin: 0;
}
.viewheader .title {
	padding: 10px 0;
	font-size: 1.5em;
	color: #919191;
}
.sitemessage {
	background-color: #f99;
	font-weight: bold;
	padding: 5px;
	font-size: 75%;
}
.sitemessage img {
	float: left;
	padding-right: 5px;
}
#container, #containerX {
	background: #fff;
	margin: 0 auto;
	max-width: 1400px;
	min-width: 970px;
	width: 100%;
}
#top-wrapper {
	padding: 0;
}
#containerX #top-wrapper {
	background: #eee;
	padding: 5px 5px 0 5px;
}
#loading-box {
	background-color: #ddd;
	display: none;
	padding: 5px 10px;
	position: fixed;
 * position: absolute;
	top: 0;
}
#site-logo {
	float: left;
	margin: 0;
}
#site-logo a {
	display: block;
}
#header-right {
	float: right;
	min-width: 250px;
	padding: 5px 10px 0 10px;
	text-align: right;
	white-space: nowrap;
	display: block;
}
/* Search and language bar */
#language-select {
	display: inline;
	margin: 0 3px 0 20px;
}
#language-select label {
	color: #333;
}
#usf {
	text-align: right;
	float: right;
	margin: 0 5px;
	clear: right;
}
#usf_query_container input {
	width: 130px;
	padding: 2px 3px 3px 3px;
}
* html #usf_query_container input {
	padding: 2px;
}
/**************** TOP NAVIGATION ****************/
#right-nav ul {
	float: right;
	text-align: right;
	margin: 5px 0 5px 0 !important;
	min-width: 200px;
}
#right-nav li {
	display: inline;
	padding: 0;
	color: #d1d1d1;
}
#right-nav li .navcount {
	padding: 0 0 0 2px;
}
#right-nav li a {
	padding: 0 5px;
}
#main-nav {
	clear: both;
	font-size: 1.1667em;
	line-height: 1.8em;
	font-weight: bold;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
#main-nav ul {
	margin: 0;
	padding: 0;
}
#main-nav li {
	padding: 0;
	margin: 0;
	line-height: 1.8em;
	display: inline;
	float: left;
}
#main-nav li.selected {
	background-color: #ddd;
}
#main-nav li a {
	padding: 5px 10px;
	display: block;
	float: left;
}
#main-nav li.selected a, #main-nav li.selected a:link, #main-nav li.selected a:visited, #main-nav li.selected a:active {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}
/**************** SUB NAVIGATION ****************/
#sub-nav {
    clear: both;
	white-space: nowrap;
	background: #ddd;
	min-height: 5px;
}
#sub-nav ul {
	margin: 0;
	padding: 3px;
}
#sub-nav li {
	padding: 5px 10px;
	display: inline;
}
#sub-nav li.selected a, #sub-nav li.selected a:link, #sub-nav li.selected a:visited, #sub-nav li.selected a:active {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}
/**************** IN PAGE TAB NAVIGATION ****************/
ul.in-page-tabs,
ul.edit-view-tabs {
	font-size: 1em;
	font-weight: bold;
	list-style: none;
	margin: 0 !important;
	padding: 0;
	position: relative;
	z-index: 0;
	clear: both;
}
ul.in-page-tabs li,
ul.edit-view-tabs li {
	display: inline;
	line-height: 1.8em;
	padding: 0;
	margin: 0 2px 0 0 !important;
}
ul.in-page-tabs li a, ul.in-page-tabs li a:link, ul.in-page-tabs li a:visited, ul.in-page-tabs li a:active,
ul.edit-view-tabs li a, ul.edit-view-tabs li a:link, ul.edit-view-tabs li a:visited, ul.edit-view-tabs li a:active {
	padding: 4px 10px;
	background: #EEEEEE;
	text-decoration: none;
}
ul.in-page-tabs li a.current-tab, ul.in-page-tabs li a.current-tab:link, ul.in-page-tabs li a.current-tab:visited, ul.in-page-tabs li a.current-tab:active,
ul.edit-view-tabs li a.current-tab, ul.in-page-tabs li a.current-tab:link, ul.edit-view-tabs li a.current-tab:visited, ul.edit-view-tabs li a.current-tab:active {
	color: #333;
	text-decoration: none;
	background: #D1D1D1;
	padding: 4px 10px;
	cursor: default;
}
.subpage {
	border: 1px solid #d1d1d1;
	padding: 10px !important;
	margin-bottom: 10px;
}
.subpage h2 {
	margin-top: 5px !important;
}
/**************** MAIN CONTENT *****************/
#main-wrapper {
	clear: both;
	width: 100%;
}
.main-column {
	padding: 15px;
	width: 97%;
	position: static;
}
.main-column-narrow {
	width: 70%;
}
#containerX .main-column {
	padding: 10px 15px;
}
#main-column-container {
	position: relative;
	min-height: 0;  /* IE layout hack */
 * padding-top: 2px;
}
div.rel {
	position: relative;
	min-height: 0;  /* IE layout hack */
 * padding-top: 2px;
}
.twocolumn div.rel {
	margin-left: 50px;
	font-size: .9167em;
	line-height: 1.3333em;
}
.main-column ul {
	margin: 5px 0 10px 0;
	padding: 0;
}
.main-column ul li {
	margin: 0 0 3px 20px;
}
/* system messages between nav and main content */
#messages {
	padding: 0;
	margin: 0 0 10px 0;
}
#containerX #messages {
	padding-top: 5px;
}
div.ok, div.error {
	padding: 2px 5px 2px 25px;
}
/* upload file message */
div.info {
	padding: 2px 5px;
	background: #e7f1c3;
	margin: 5px 0;
	font-size: .9167em;
}
div.info img {
	vertical-align: top;
}
/* different message types */
#messages .ok, div.ok {
	color: #547c22;
	background: #e7f1c3 url(../images/success.gif) no-repeat 5px 3px;
	border: 1px solid #C0D76E;
}
#messages .error, div.error {
	color: #dd0221;
	background: #ffd3d9 url(../images/failure.gif) no-repeat 5px 3px;
	border: 1px solid #dd0221;
}
#editaccess div.error {
	color: #474220;
	background: none;
	border: none;
	padding: 0;
}
#messages .info {
	color: #1666a9;
	background: #d2ebff;
	border: 1px solid #B1DCFF;
}
#messages img {
	padding: 1px;
}
.backtrace {
	font: normal 100% monospace;
}
/* system messages */
.message {
	margin: 5px 0;
	padding: 5px;
	background: #f6f6f6;
	border: 1px solid #ddd;
	text-align: center;
}
.message.delete {
	color: #dd0221;
	background: #FFECEF;
	border: 1px solid #DBA0A9;
}
.message h4 {
	margin: 0 !important;
}
.message p:first-child {
	margin: 0 0 10px 0;
}
.message p:last-child {
	margin: 10px 0 0 0;
}
.message.narrow {
	width: 60%;
	margin: 5px auto;
}
div.section {
	padding-top: 8px;
}
/**************** SIDEBAR *********/
#left-column {
    width: 26%;
	min-width: 255px;
	float: left;
}
#right-column {
    width: 26%;
	min-width: 255px;
	float: right;
}
div.sideblock {
	clear: both;
	font-size: .9167em;
	padding: 10px 13px;
}
div.sideblock h3 {
	font-size: 1.5em;
	margin: 0 0 5px 0;
}
div.sideblock ul {
	padding: 0 0 0 15px;
	margin: 0;
	line-height: 1.5em;
}
div.sideblock ul li {
	padding-bottom: 3px;
}
/* Side Login */
#login_submit_container {
	display: inline;
	float: left;
}
.sideblock #login_submit_container input#login_submit {
	font-size: 1.1333em;
}
#login-helplinks a {
	font-size: .9167em;
	line-height: 1.333em;
	padding-left: 5px;
}
#login_login_username_container input, #login_login_password_container input {
	width: 180px;
	margin: 0 0 5px 0;
}
/* Side Profile */
#user-profileicon {
	float: right;
	padding-left: 3px;
	padding-top: 3px;
}
#user-profileicon img {
	border: 1px solid #FFFFFF;
}
#sb-profile .sideblock-content > ul {
	padding: 0;
	list-style: none;
}
#sb-profile ul {
	list-style-type: none;
	padding-left: 0;
	font-weight: bold;
	font-size: 1em;
}
#sb-profile ul li {
	padding-bottom: 5px;
}
#sb-profile ul ul {
	font-size: 1em;
	font-weight: normal;
	padding-left: 15px;
	padding-top: 5px;
	list-style-type: disc;
}
#sb-profile ul ul li {
	padding-bottom: 3px;
}
#changeuser {
	margin-top: 10px;
	text-align: center;
	clear: both;
}
#changeuser a {
	font-weight: bold;
	background: transparent url(../images/icon-login.gif) no-repeat left center;
	padding-left: 13px;
}
/* Side Online Users */
#sb-onlineusers ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#sb-onlineusers li {
	line-height: 2.3333em;
}
#lastminutes {
	float: right;
	margin: 0;
	font-style: italic;
}
/* Side Quota Bar */
#quota_message {
	text-align: center;
	margin: 0 0 10px 0;
	font-size: 1em;
}
#quota_used {
	font-weight: bold;
}
#quota_total {
	font-weight: bold;
}
#quotawrap {
	text-align: center;
	width: 210px;
	margin: 0 auto;
}
#quota_fill {
	margin: 0 5px;
	height: 28px;
	background-image: url(../images/quota_bar_highlight.gif);
	position: absolute;
}
#quota_bar, #quota_bar_100 {
	background: url(../images/quota_bar_bg.gif) no-repeat;
	height: 28px;
	width: 210px;
	line-height: 2.5em;
	text-align: center;
	margin: 0;
}
#quota_bar_100 {
	background: url(../images/quota_bar_full.gif) no-repeat;
}
#quota_percentage {
	text-align: center;
	position: relative;
	z-index: 10;
	color: #ffffff;
	font-weight: bold;
}
/* Side Search */
.sidebar #selfsearch {
	text-align: center;
}
.sidebar #selfsearch input {
	width: 190px;
}
/* Friends control sideblock */
div.sideblock #friendscontrol td {
	padding: 0;
}
div.sideblock #friendscontrol label {
	line-height: 1.833em;
	vertical-align: top;
	font-size: 1em;
}
/* Tags */
#results_container #results_sort,
#results_filter {
	padding: 3px 0;
}
#results_heading {
	margin-top: 15px;
}
.mytags {
	padding: 5px 0;
}
.subpage.mytags {
	margin-bottom: 20px;
}
.tags {
	background: url(../images/icon-tag.gif) no-repeat left 4px;
	padding-left: 16px;
}
tr.tags {
	background: none;
	padding-left: auto;
}
tr.tags th {
	background: url(../images/icon-tag.gif) no-repeat right 7px;
	padding-right: 15px !important;
}
tr.tags td div div {
	line-height: 1.8em;
	font-size: .9167em;
}
tr.tags td div div a {
	line-height: 1.8em;
	font-size: 1.1667em;
}
a.tag {
	line-height: 1.1667em;
}
.mytags a.tag {
	padding: 0 5px;
	white-space: nowrap;
}
.sidebar-content.tagblock .tag {
	padding: 0 5px;
	vertical-align: middle;
}
.tag-results .selected, .mytags .selected {
	font-weight: bold;
	text-decoration: none;
}
.mytags .tagfreq {
	font-weight: normal;
	font-size: .9167em;
	color: #888;
}
.tag-results .sep {
	color: #ccc;
	display: inline;
	padding: 0 3px;
}
/* select tag to edit */
.edittags {
	margin-bottom: 10px;
}
/* edit tag box */
.edittag {
	border: 1px solid #d1d1d1;
	background: #f6f6f6;
	padding: 10px;
	float: left;
	min-height: 110px;
}
/* delete tag box */
.deletetag {
	padding: 10px 15px;
	float: left;
	margin-left: 10px;
	background: #FBECEB;
	border: 1px solid #E98A88;
	min-height: 110px;
}
.deletetag h3 {
	color: #ca0000;
}
#delete_tag_submit {
	border-color: #f69595 #750000 #750000 #f69595;
	background: #ca0000;
	color: #FFF;
	margin-top: 5px;
}
/* Ajax Login */
#ajax-login-form {
	border: 5px solid #ddd;
	background-color: #fff;
	position: absolute;
	top: 150px;
	left: 20%;
	width: 250px;
	z-index: 1000;
	text-align: left;
}
/* Help popups & icons */
.contextualHelp {
	padding: 10px;
	margin: 0;
	width: 300px;
	max-height: 400px;
	overflow: auto;
	background-color: #f9f9f9;
	border: 1px solid #b2b2b2;
	font-size: 1em;
	color: #333;
	z-index: 2000;
}
.help a:hover {
	cursor: help;
}
.help a:focus {
	outline: none;
}
.rbuttons .help a {
	* display: inline;
}
.page-help-icon .help {
	vertical-align: middle;
	font-size: .4em;
	padding-top: 2px;
}
#helpstop h3 {
	white-space: normal;
	margin-top: 0;
}
#helpstop p {
	font-weight: normal;
	white-space: normal;
}
/******************** FOOTER ****************************/
#footer-wrap {
	clear: both;
	font-size: .9167em;
	padding: 5px;
	border-top: 1px solid #ddd;
}
#micro #footer-wrap {
	background: #eee;
}
#footernav {
	margin: 10px;
	color: #d1d1d1;
	float: left;
}
#footernav a, #footernav a:link, #footernav a:active, #footernav a:visited {
	padding: 0 5px;
}
#powered-by {
	margin: 5px 10px;
	float: left;
}
#performance-info {
	float: right;
	margin: 10px;
	color: #D1D1D1;
	text-align: right;
	width: 450px;
}
#micro #footer-wrap #performance-info {
	width: auto;
	float: none;
}
#performance-info span {
	color: #888;
	padding: 0 5px;
	white-space: nowrap;
}
#version {
	clear: right;
	float: right;
	margin: 5px;
	color: #888;
}
#release {
	float: right;
	margin: 5px;
	color: #888;
}
/****************************** PAGE BY PAGE STYLES **********************************/
.movebuttons {
	width: 40px;
	text-align: center;
	padding-top: 5px;
}
/* Userlists used in admin section and on edit interaction form */
.userlisttable .lrbuttons {
	text-align: center;
}
.userlisttable .lrbuttons button {
	margin: 0 3px 3px 3px;
	white-space: nowrap;
	font-size: 1.3333em;
	font-weight: bold;
}
.userlisttable .lrfieldlists {
	width: 48%;
	padding: 0;
	margin: 0;
}
.userlisttable tbody tr th {
	text-align: left !important;
	padding: 0 !important;
	font-size: 1em;
	color: #333;
}
/* Attached file lists */
table.attachments {
	border: 2px solid #ddd;
}
.attachments tbody th {
	text-align: left;
	background-color: #ddd;
	padding: 0 5px;
	border: 0;
	color: #333 !important;
}
table.attachments td {
	border-bottom: 2px solid #ddd;
}
/* User/view */
#userview {
	margin: 0 0 20px 0;
}
#userview .user-icon {
	font-size: .9167em;
	margin: 0 0 5px 0;
	text-align: center;
}
#userview #invite, #userview #addmember {
	margin-top: 10px;
}
#userview .invitedtojoin,
#userview .requestedmembership {
	padding-left: 15px;
	font-size: .9167em;
	margin: 0 0 5px 0;
	text-align: center;
	display: block;
}
#userview .addform {
	display: block;
	text-align: center;
	margin: 0 0 5px 0;
	font-size: .9167em;
}
#userview .addform form, #userview .addform form div {
	display: inline;
}
#userview .addform form select {
	font-size: 1em;
}
/* Profile icons */
#userview .user-icon a {
	margin: 0 0 0 10px;
}
.profile-icon-container {
	width: 20px;
	height: 20px;
	float: left;
	padding: 3px 5px 0 0;
	text-align: center;
}
/* Wall */
.wallpost {
	border-bottom: 2px solid #FFF;
	background: #F9F9F9;
	padding: 5px;
}
#wall .private {
	background: url(../images/privatebg.gif) repeat top left;
}
#wall .wallpostdelete {
	background: transparent url(../images/remove-block.png) no-repeat left top;
	border: 0;
	width: 16px;
	height: 16px;
	cursor: pointer;
	float: right;
	font-size: 1%;
	text-indent: -9999px;
}
.wallpost .userinfo {
	float: left;
	line-height: 2em;
}
.wallpost .userinfo img {
	float: left;
	padding-right: 5px;
	vertical-align: top;
}
.wallpost .text {
	margin-left: 31px;
	margin-right: 20px;
	margin-bottom: 3px;
	font-size: .9167em;
	clear: left;
}
.wallpost .text p {
	margin: 0 0 3px 0;
}
.wallpost .controls {
	font-size: .9167em;
	line-height: 1em;
}
.wallpost .controls a {
	margin: 0 0 0 5px;
}
#viewlayout .fl {
	margin: 0 20px 20px 0;
	text-align: center;
	width: 150px;
}
#viewlayout .fl img {
	padding: 5px 0 0 0;
}
/* My Views */
#searchviews #searchviews_query {
	margin-right: 3px;
}
#myviews .edittitle {
	margin: 0 0 0 5px;
}
#myviews .expand {
	background: transparent url(../images/expand.gif) no-repeat left 3px;
	padding-left: 13px;
}
#myviews .open {
	background: transparent url(../images/expanded.gif) no-repeat left 3px;
	padding-left: 13px;
}
#myviews .expanded {
	clear: left;
	margin-left: 15px;
}
.videsc {
	font-size: .9167em;
	line-height: 1.3333em;
	margin-bottom: 3px;
}
.videsc p {
	margin: 0;
	overflow: hidden;
}
#myviews .submit-viewitem {
	margin-top: 3px;
	padding: 3px 5px;
	background: #eee;
}
#myviews .submit-viewitem .submit {
	margin-left: 3px;
}
#myviews .submitted-viewitem {
	padding: 3px 5px;
	background: #eee;
	font-style: italic;
	color: #888;
	font-size: .9167em;
}
#deleteview label {
	color: #ca0000;
}
/* Copy a view */
#viewpreview {
	position: absolute;
	background-color: #777777;
	padding: 20px;
	font-size: 75%;
}
#viewpreviewinner {
	border: 10px solid #d1d1d1;
	padding: 15px;
	background-color: #FFF;
}
#closepreview {
	background: url(../images/remove-block.png) no-repeat left;
	font-size: 1%;
	width: 16px;
	height: 16px;
	display: block;
	padding: 0;
	text-indent: -9999px;
	float: right;
}
/* Publish page */
.accesslists th .secreturl {
	width: 25%;
}
.accesslists .cv {
	width: 50%;
	padding-left: 0;
	padding-bottom: 0;
}
.accesslist .al-num {
	width: 5%;
}
.accesslists .al-edit {
	padding-top: 5px;
	text-align: center;
}
.accesslists .al {
	font-size: .9167em;
	padding-top: 5px;
}
.accesslists .cv-listitem {
	clear: both;
	padding: 3px 5px;
	border-bottom: 1px solid #FFF;
}
.accesslists .cv-listitem .cv-listitem-edit {
	float: right;
}
.accesslists .cv-listitem .viewname {
	font-weight: bold;
}
.secreturlcount {
	float: left;
}
.secreturls {
	width: 20%;
}
/* Secret url */
table.secreturls {
	width: 100%;
}
.secreturlcount {
	margin-right: 5px;
}
.secreturls .buttons {
	padding-top: 5px;
	white-space: nowrap;
	text-align: right;
}
.secreturls .buttons form, .secreturls .buttons form div {
	display: inline;
}
/* View access */
.presets-container {
	margin: 0 0 10px 0;
	width: 250px;
}
#potentialpresetitems div {
	padding: 3px 5px;
}
#potentialpresetitems div.preset {
	font-weight: bold;
}
#potentialpresetitems div button {
	font-size: .9167em;
}
#potentialpresetitems h3 {
	margin: 0;
	font-size: 1.1667em;
}
#potentialpresetitems h6 {
	font-size: 1.1667em;
	color: #1E6297;
	margin: 10px 0 0 0;
}
#viewacl-advanced {
	width: 250px;
}
#viewacl-advanced .viewacl-advanced-search {
	* margin-top: 5px;
}
#viewacl-advanced .viewacl-advanced-search select {
	margin-right: 1px;
}
#viewacl-advanced .viewacl-advanced-search #search {
	display: inline;
	width: 95px;
}
#viewacl-advanced #results {
	margin: 10px 0 0 0;
	width: 100%;
 * width: 98%;
}
#viewacl-advanced #results thead, #viewacl-advanced #results tfoot {
	font-weight: bold;
}
#accesslisttable {
	margin: 5px 5px 5px 10px;
	float: right;
	width: 65%;
}
#editpost_filebrowser_selectlist td.right input.unselect,
#viewacl-advanced #results button {
	font-size: .9167em;
}
#templatesearch_table {
	margin-bottom: 10px;
}
.main-column .accesslist-head1 th {
	border-bottom: none;
	padding: 0 5px;
	line-height: 1.2em;
}
.main-column .accesslist-head2 th {
	padding-top: 0;
	line-height: 1.2em;
	color: #333;
	font-size: .9167em;
}
#accesslistitems .ai-container th,
#accesslistitems .ai-container td {
	border-bottom: 1px solid #FFF;
}
#accesslistitems .ai-container td {
	padding: 2px 5px;
}
#accesslistitems .ai-container th {
	text-align: left;
	color: #333;
	padding: 2px 5px 2px 0;
}
#accesslistitems .ai-container input {
	width: 100px;
	font-size: .9167em;
}
#accesslistitems .ai-container .comments input {
	width: auto;
}
#accesslistitems .ai-container td.removebutton {
	padding: 5px 5px 0 0;
}
#accesslistitems .removebutton button {
	background: url(../images/remove-block.png) no-repeat;
	border: 0;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.accesslistname {
	width: 220px;
}
.ai-container .secreturl {
	font-weight: bold;
	padding-left: 10px;
}
#editaccess #editaccess_collections_container {
	border: 1px solid #d1d1d1;
	background: #eee;
	padding: 5px 10px;
	margin-bottom: 5px;
}
#editaccess #editaccess_views_container {
	border: 1px solid #d1d1d1;
	background: #eee;
	padding: 10px;
	margin-bottom: 5px;
}
#editaccess #editaccess_accesslist_container {
	border: 1px solid #d1d1d1;
	background: #eee;
	padding: 5px;
	margin-bottom: 5px;
}
#editaccess #editaccess_more_container {
	border: 1px solid #d1d1d1;
	background: #eee;
	padding: 10px;
	margin: 5px 0;
	float: none;
	clear: both;
}
#editaccess #editaccess_accesslist_container #viewacl-advanced legend {
	font-size: 1.1667em;
}
.checkboxes label {
	clear: left;
	display: block;
	font-size: 1.1667em;
	color: #1E6297;
}
.checkboxes-option input {
	margin-right: 5px;
}
.checkboxes-option {
	float: left;
	min-width: 160px;
}
#editaccess #editaccess_accesslist_container {
	margin: 5px 0 0;
	padding: 10px;
}
#editaccess #editaccess_accesslist_container fieldset {
	float: left;
	clear: left;
}
#editaccess #editaccess_accesslist_container fieldset.collapsed {
	padding: 0;
}
#editaccess #editaccess_accesslist_container fieldset legend {
	font-size: .9167em;
}
#editaccess_submit_container {
	margin: 10px 0 0;
}
#editaccess #editaccess_more_container fieldset.collapsed {
	padding: 0;
}
#editaccess #editaccess_more_container fieldset legend {
	font-size: 1.1667em;
}
/* Export */
#export h3 {
	margin: 8px 0 3px 0;
}
#export .radio-description {
	padding-left: 25px;
	font-size: .9167em;
	color: #888;
	line-height: 1.3333em;
	padding-bottom: 5px;
}
#export .view {
	float: left;
	padding-right: 20px;
	white-space: nowrap;
}
#export fieldset {
	padding: 5px 5px 10px 5px;
	margin: 0 5px 5px 20px;
	border: 1px solid #d1d1d1;
	background: #eee;
}
#export fieldset legend {
	font-size: 1em;
}
#export fieldset div a {
	padding: 0 5px 0 0;
}
#export fieldset table {
	width: 98%;
	margin: 0 auto;
}
#export fieldset table colgroup col {
	border: 2px solid #FFF;
}
#export fieldset table div {
	padding: 0 0 0 20px;
	* padding: 0 0 0 25px;
	font-size: .9167em;
	line-height: 1.4em;
}
#export fieldset table div p {
	margin: 0 0 5px 0;
	line-height: 1.2em;
}
#export fieldset label {
	font-size: normal;
	font-weight: bold;
}
#export #whattoexport-buttons div {
	padding-bottom: 3px;
}
#export .element div label,
#export #whattoexport-buttons div label {
	line-height: 1.6667em;
}
#export #whatviewsselection {
	width: 96%;
	margin: 5px;
}
#export #whatviewsselection a {
	padding: 0 3px;
}
#export .viewlink img {
	vertical-align: middle;
}
#exportgeneration {
	text-align: center;
}
#progress {
	border: 1px solid #5b5b5b;
	height: 40px;
	width: 600px;
}
div.progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	background: #636363 url(../images/progressbar-bkgd.gif) repeat-x top left;
	height: 40px;
	color: #fff;
	text-align: center;
	font-weight: bold;
}
* html div.progress-bar {
 * height: 45px;
}
div.progress-bar a {
	color: #ffd !important;
}
p.progress-text {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
	width: 100%;
}
#progressbar {
	height: 40px;
}
/* My Groups *//* My Friends */
ul.groupuserstatus {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1em;
	margin: 0;
	color: #888888;
	z-index: 2;
}
ul.groupuserstatus li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
ul.groupuserstatus li a {
	font-size: 1em;
	line-height: 2.3333em;
	border-width: 1px;
	border-style: solid;
	border-color: #7d99ae #003c74 #003c74 #7d99ae;
	margin: 0;
	padding: 3px 5px;
	background: #c6c5d7 url(../images/btn-bkgd.gif) repeat-x left top;
	text-decoration: none;
	cursor: default;
	color: #333;
  * overflow: visible;
}
ul.groupuserstatus li a:hover {
	background: #FFF url(../images/btn-bkgd-hover.gif) repeat-x left top;
	text-decoration: none;
	cursor: default;
}
ul.groupuserstatus li a:active {
	border-color: #003c74 #7d99ae #7d99ae #003c74;
	background: #FFF url(../images/btn-bkgd-hover.gif) repeat-x left top;
}
#findgroups .findgroupsdetails,
#mygroups .mygroupsdetails {
	margin-right: 200px;
}
#findgroups ul.groupuserstatus,
#mygroups ul.groupuserstatus {
	width: 185px;
	font-size: .9167em;
	line-height: 1.2em;
	margin: 0;
	color: #888888;
	position: inherit;
	* position: relative;
}
#findgroups ul.groupuserstatus li,
#mygroups ul.groupuserstatus li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
ul.groupuserstatus form,
ul.groupuserstatus table {
	text-align: right;
	float: right;
}
ul.groupuserstatus table th,
ul.groupuserstatus table td {
	border-bottom: 0;
	background: none;
	padding: 0 !important;
	text-align: right;
}
.invite form#invite {
	float: none;
}

.planstatus {
	width: 180px;
	text-align: right;
}
.friendinfo li.approvefriend form input {
	border: 0;
	background: transparent url(../images/icon-approve.gif) no-repeat left center;
	padding-left: 10px;
	cursor: pointer;
	color: #0000CC !important;
}
ul.friendinfo li.approvefriend form input:hover {
	border: 0;
	background: transparent url(../images/icon-approve.gif) no-repeat left center;
	padding-left: 10px;
	cursor: pointer;
}
#friendslist ul.actionlist {
	margin: 0 0 0 10px;
	float: right;
	width: 180px;
	font-size: .9167em;
}
div.groupbox {
	width: 500px;
	text-align: center;
	background: white;
	border: 10px solid #d1d1d1;
	padding: 15px 10px 5px 10px;
	font-size: .75em;
}
div.groupbox div.jointype {
	border: 1px solid #d1d1d1;
	margin: 0;
	padding: 5px 5px 10px 5px;
}
div.groupbox h3 {
	margin-top: 0;
}
div.groupbox ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
div.groupbox li.last {
	margin-top: 5px;
}
#friendslist ul.actionlist li {
	list-style: none;
	margin: 0;
	border-top: 1px solid #d1d1d1;
	padding: 2px 3px;
	line-height: 1.2em;
}
#friendslist ul.actionlist li:first-child {
	border-top: none;
}
#editgroup th label {
	white-space: nowrap;
}
form#search, form#filter, div.searchform, #searchviews {
	margin-bottom: 10px;
}
#friendslist ul.viewlist {
	margin: 0;
	font-size: .9167em;
}
#friendslist ul.viewlist li.label {
	background: none;
	padding-left: 0;
}
#friendslist ul.viewlist li {
	display: inline;
	margin: 0;
	padding-left: 10px;
	background: url(../images/divider-dot.gif) no-repeat left;
}
#friendslist .leftdiv {
	float: left;
	width: 50px;
}
#friendslist .rightdiv {
	min-height: 35px;
	padding: 5px 0 0 0;
	margin-left: 50px;
	margin-right: 200px;
}
.userintro br,
#membersearchresults .rel div br {
	line-height: .3333em;
}
.requested {
	font-style: italic;
	color: #888;
}
#topiclist {
	margin-bottom: 5px;
}
/* Group: about */
.group-info {
	background-color: #eee;
	padding: 10px;
	border: 10px solid #ddd;
	margin: 0 0 10px 0;
}
.group-info ul {
	margin: 0;
	list-style: none;
}
.group-info ul li {
	margin: 0;
	line-height: 2em;
}
.group-info li img {
	vertical-align: middle;
}
.group-info ul li span {
	margin: 0 30px 0 0;
}
.groupdescription {
	margin: 0 0 10px 0;
}
.groupviewsection .submit {
	margin-left: 5px;
}
.groupviewsection .owner {
	font-size: .9167em;
}
/* Group: members */
.twocolumn td {
	width: 50%;
	border-top: 4px solid #FFF;
	border-right: 4px solid #FFF;
}
#search_filter_container #search_filter {
	margin: 0 4px;
}
.membername {
	font-size: .9167em;
	line-height: 1.2em;
}
/* Group: members (Add members) */
#addmembers {
	border: 1px solid #d1d1d1;
	background: #f6f6f6;
	padding: 10px;
}
#addmembers table {
	width: 100%;
}
* html #addmembers table, * html #addmembers {
	width: 96%;
}
#addmembers td {
	padding: 3px 0;
}
#addmembers td label {
	font-size: 1em;
	font-weight: bold;
}
/* Groups > Administer Groups */
#admgroupslist {
	margin: 0 0 5px 0;
}
/* Settings > Preferences */
#accountprefs {
	clear: both;
}
#accountprefs table td {
	padding-left: 0;
}
#accountprefs table h3 {
	margin-top: 10px;
	border-bottom: 1px dotted #d1d1d1;
}
#deleteaccount {
	border: 1px solid #e98a88;
	background: #fbeceb;
	padding: 10px;
	margin: 0 10px 10px;
}
#deleteaccount h1 {
	color: #ca0000;
}
#deleteaccount input.submit {
	border: 1px solid #e98a88;
	background-color: #ca0000;
}
#accountprefs_addremovecolumns_container th,
#accountprefs_showhomeinfo_container th {
	line-height: 1.2em;
}
/* Settings > Notifications */
#activitylist th {
	line-height: 1.2em;
	vertical-align: bottom;
}
#activitylist th a {
	font-size: .9167em;
	font-weight: normal;
	white-space: nowrap;
}
#activitylist tbody td div {
	font-size: .9167em;
	line-height: 1.4em;
}
#delete_all_notifications {
	float: right;
	position: relative;
	top: -30px;
}
#delete_all_notifications td {
	text-align: right;
}
#activitylist td.right input.submit {
	font-weight: bold;
}
#activitylist td.right input.btn-del {
	font-weight: normal !important;
}
/* Settings > Institution membership */
#requestmembership_studentid_container {
	margin: 0 5px;
}
#requestmembership_studentid_container label {
	margin: 0 3px 0 0;
}
#cancelrequest label {
	display: block;
}
* html #edit_interaction_weight_container td input {
	border: 0 !important;
}
* html #edit_interaction table td fieldset {
	width: 92%;
}
.help, .help a, .help a img {
	vertical-align: top;
}
/* Home page info boxes */
.home-info-table {
	margin: 5px 0 15px 0;
	border: 4px solid #eee;
}
#hideinfo {
	margin: 0 -4px;
	position: relative;
	float: right;
}
.home-info-table td {
	width: 1%;
	padding: 0 4px 0 0;
}
.home-info {
	margin-top: 2px;
	margin-bottom: 2px;
}
.home-info-1 {
	margin-left: 4px;
}
.home-info-1 .home-info-inner {
 * padding-top: 8px;
}
#home-info-help {
	margin: 0 4px;
	float: right;
}
.home-info-inner {
	padding: 10px;
	min-height: 260px;
	text-align: center;
	vertical-align: top;
}
.home-info .desc {
	text-align: center;
}
.home-info .caption {
	padding-bottom: 5px;
	line-height: 1.2em;
}
.home-info a, .home-info a:hover, .home-info a:active {
	text-decoration: none;
}
.home-info table {
	width: 100%;
}
.home-info td {
	padding: 0;
	width: 1%;
	vertical-align: top;
}
.home-info p.subtitle {
	font-size: 1.1667em;
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
}
#accessdesc {
	background: url(../images/access.png) no-repeat left;
	padding-left: 40px;
	margin: 15px 10px 0 10px;
	text-align: left;
}
.help, .help a, .help a img {
	vertical-align: top;
}
ul.viewlist {
	list-style: none;
	margin: 0 0 0 3px;
}
ul.viewlist li:first-child {
	margin: 0;
}
ul.viewlist li {
	margin: 8px 0 0;
}
/* Feed icons */
img.feedicon {
	margin-left: 5px;
}
#editpost_allowcomments_container th label, #edit_interaction th label, #creategroup_public_container th label, #goalform_academicgoal_container th label, #skillform_academicskill_container th label {
	white-space: nowrap;
}
/* to get user picts to align with text */
.bt-recentforumposts .blockinstance-content td img {
	vertical-align: middle;
}
/* views comment */
* html #feedbacktable .details .fr {
	padding: 0;
	border: 0;
}
.inbox-message {
	font-size: .9167em;
	line-height: 1.4em;
}
.morelink {
	font-weight: bold;
}
.morelinkwrap {
	background: #EEEEEE;
	padding: 3px 5px;
	text-align: right;
}
.inlinelist {
	padding: 0;
}
.inlinelist li {
	display: inline;
	margin-right: 20px;
}
.mediaplayer-container embed {
	max-width: 98%;
	margin-top: 2px;
}
#collectionviews td form table td {
	border-bottom: 0;
	padding: 0;
}

.iconcell {
	width: 20px;
}
.buttonscell {
	padding-top: 5px;
	line-height: 1.3333em;
}
.valign {
	padding: 6px 5px 3px 5px;
}

.templateresults .ownericon {
	line-height: 2em;
}

/******* Shared Pages **********/
#search #search_query_container #search_query {
	margin-right: 3px;
}
.sharedpages h3 {
	margin: 0;
	font-size: 1.1667em;
}
.sharedpages .owner {
	font-style: italic;
	font-weight: normal;
	font-size: .9167em;
}
.sharedpages .tags {
	font-size: .9167em;
}
.topictitle {
	font-weight: bold;
	font-size: 1.1667em;
}
.poster {
	font-style: italic;
}
.owner {
	font-style: italic;
}
#sharedviewlist .lastcomment a.btn {
	margin-left: 10px;
}

/* rating */
tr.star td {
	padding-top: 6px;
}

form#sendmessage #sendmessage_message,
#editpost_description_tbl,
#editblog_description_tbl {
	width: 100% !important;
	* width: 98% !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
form#sendmessage #sendmessage_message,
#editpost_description_tbl,
#editblog_description_tbl {
	width: 98% !important;
}
}